@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.box-container {
  box-shadow: 4px 4px 29px 3px rgba(0,0,0,0.46);
  -webkit-box-shadow: 4px 4px 29px 3px rgba(0,0,0,0.46);
  -moz-box-shadow: 4px 4px 29px 3px rgba(0,0,0,0.46);
}

.sidebar {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.skills {
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(3, 4em);
  width: 100%;
  height: fit-content;
  padding: 2rem;
  font-size: 20px;
  gap: .5em;
}

.skills > div {
  background-color: silver;
  padding: 0 .5em;
}